extends layout

block content
     form
          |Name
          br
          input(type="text")
          br
          |Number of players
          br
          input(type="number", value="2", min="1")
          br
          | Controller
          br
          textarea(cols='100', rows='200')
          br
          | View
          br
          textarea(cols='100', rows='200')
          br
          | Javascript
          br
          textarea(cols='100', rows='200')