extends layout

block content
    link(href='https://fonts.googleapis.com/css?family=Abril Fatface', rel='stylesheet')
    link(rel='stylesheet', type='text/css', href='/stylesheets/game.css')
    script(src='https://code.jquery.com/jquery-3.3.1.min.js')
    script(src='https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js')
    script.
        var idTable ="#{idTable}";
        var userName ="#{name}";
        var userId="#{userId}";
    script(src='/javascripts/game.js')
    script(src='/javascripts/gameLayout.js')
    script(src='javascripts/chessboard.js')
    script(src='javascripts/chess.js')
    script(src='#{script}')
    div.container#stol(ng-app='myApp' ng-controller='table')

        .row
            .col-xs-12.col-sm-10.center
                div.d-flex.justify-content-center
                    h1.p-2.gameTitle {{table.gameName}}
                div.d-flex.justify-content-center
                    h2.gameTitle.status.p-2 {{status()}}
                    h2.p-2 {{table.info}}
                div.d-flex.justify-content-center
                    #plansza.p-2
            .col-2#infoGame
                div#playersCon.noPaddingNoMargin(style='height:{{table.numberOfPlayers*11}}vh')
                    div.container.playerSit.noPaddingNoMargin(ng-repeat="i in range(0,table.numberOfPlayers)")
                        div.d-flex.justify-content-center.playerName
                            div.p-2.player {{table['seat'+i]==0?'empty':table['seatName'+i]}}
                            div.p-2.playerReady(style="background-color:{{isReady(i)}};")
                        div.row.buttons
                            div.col-6.button(style="display:{{table['seat'+i]==0?'initial':'none'}}")
                                div.btn.btn-primary.btn-sm.btn-block(ng-click='seat(i)')
                                    |Usiądź
                            div.col-6.button(style="display:{{table['seat'+i]==0?'none':'initial'}}")
                                div.btn.btn-danger.btn-sm.btn-block(ng-click='standUp()')
                                    | Wstań
                            div.col-6.button
                                div.btn.btn-success.btn-sm.btn-block(ng-click='playerIsReady(i)')
                                    |Start

                        div.timer.col-12
                            |{{playerTimer(i)}}

                div#chatGame(style='height:{{81-(table.numberOfPlayers*11)}}vh')
                     #output
                     #chatutil
                         .input-group.mb-3
                              input#message.form-control(type='text', placeholder='message')
