

.button,.noPaddingNoMargin{

    margin: 0px !important;
    padding: 0px !important;

}
#infoGame{
    margin: 0px !important;
    padding: 0px !important;

}
    #playersCon{
        height:44vh;
        font-size:2.5vh;
        margin:1vh;
    }
        .playerSit{

        }
            .playerName{


            }
                .player{

                    padding: 0px !important;
                    padding-right: 4px !important;
                    font-weight: bolder;
                }
                .playerReady{
                    height:1vh;
                    width:1vh;
                    border:1px solid black;
                    border-radius:3px;
                }
            .buttons{

            }
                .button{

                }
            .timer {

                text-align: center;
                font-weight: bolder;
            }







#chatGame{
    height: 37vh;


}
#output{
    background-color: azure;
    height: 90%;
    overflow-y:auto;
    border-radius: 5px;
    padding-left: 2px;
}
#message{
    background-color: azure;
    opacity: 0.5;

}
#chatutil{
    width:100%;

}
#stol {
    height:85vh;

}


/*game*/

.points{
    font-size:20px;
    text-align: center;
    font-weight: bolder;
}

.btn-away{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 20%;
    white-space: normal;

}
.btn-away:hover{
    box-shadow: 0 0 15px #b71d1d;

}
.btn-ready:hover{
    box-shadow: 0 0 4px #25751e;
}
.gameTitle{
    font-family: 'Abril Fatface';
    padding: 0px !important;
    margin: 0px !important;
    padding-bottom: 5px !important;
}
.status{
    padding: 0px !important;
    padding-left: 2px !important;
    color: silver;
    font-style: italic;
}
